@model List<DMS.Models.DomainModels.Product>


<div class="container">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Add"
       style="background-color:orange">Add Product</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="bg-primary text-white">CompanyID</th>
                <th class="bg-primary text-white">ProductID</th>
                <th class="bg-primary text-white">ProductName</th>
                <th class="bg-primary text-white">ProductType</th>
                <th class="bg-primary text-white">ProductCateogory</th>
                <th class="bg-primary text-white">PurchaseRate</th>
                <th class="bg-primary text-white">SalesRate</th>
                <th class="bg-primary text-white">OnHandQty</th>
                <th class="bg-primary text-white">StockInDate</th>
                <th class="bg-primary text-white">SKU</th>
                <th class="bg-primary text-white">Unit</th>
                <th class="bg-primary text-white">TradeOffer</th>
                <th class="bg-primary text-white">WarehouseId</th>
                <th class="bg-primary text-white">Quantity</th>
                <th class="bg-primary text-white">RecDoc</th>
                <th class="bg-primary text-white">DocType</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.CompanyID</td>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td>@product.ProductType</td>
                    <td>@product.ProductCategory</td>
                    <td>@product.PurchaseRate</td>
                    <td>@product.SalesRate</td>
                    <td>@product.OnHandQty</td>
                    <td>@product.StockInDate</td>
                    <td>@product.SKU</td>
                    <td>@product.Unit</td>
                    <td>@product.TradeOffer</td>
                    <td>@product.WarehouseId</td>
                    <td>@product.Quantity</td>
                    <td>@product.RefDoc</td>
                    <td>@product.DocType</td>
                    <td><a href="Product/Edit/@product.ProductID">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    th {
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }

    .table tbody tr:hover {
        background-color: #f2f2f2;
    }
</style>

<style>
    th {
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }

    .table tbody tr:hover {
        background-color: #f2f2f2;
    }
</style>